tr {
    background-color: orange;
}

td {
    padding: 5px 10px 5px 10px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.time {
  text-align: right;
}

.slow {
  background-color: yellow;
}

.ok {
    background-color: lightgreen;
}

.error {
    background-color: red;
    font-weight: bold;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    background-color: black;
    color: white;
  }
}
